@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

:root {
  --bg: #fff;
  --bg-accent: #484a4d;
  --text-color: #000;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  --buyticket: #ac324c;
}

/* Navbar */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  position: relative;
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 1rem;
  border-bottom: var(--border);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.websitelogo {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.buyticket {
  --button-size: fit-content;
  width: var(--button-size);
  height: var(--button-size);
  padding: 5px 25px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--buyticket);
  color: #fff;
}

.buyticket:hover {
  filter: brightness(1.2);
}

/* nav-item */
.nav-item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 12px;
}

.topnav-button {
  position: relative;
  --button-size: fit-content;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 5%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa {
  font-size: 17px;
  margin-bottom: 6px;
}

/* Icon Button */
.icon-button {
  position: relative;
  --button-size: fit-content;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 5%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  top: 27px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 92px;
  width: 124px;
  background-color: var(--bg);
  border: var(--border);
  padding: 1rem;
  overflow: hidden;
  z-index: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #52535785;
}


@media all and (max-width: 1200px) {
  .navbar {
    height: fit-content;
  }
  .navbar-nav {
    padding-top: 75px;
    justify-content: space-around;
  }
  .websitelogo {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .dropdown {
    top: 143px;
  }
}

@media all and (max-width: 830px) {
  .navbar {
    height: fit-content;
    padding: 2px;
  }
  .navbar-nav {
    padding-top: 75px;
    justify-content: flex-start;
    flex-flow: column;
  }
  .websitelogo {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .dropdown {
    top: 194px;
  }
}

/* Main */

main {
  margin-bottom: 1020px;
}

h3 {
  margin: 0;
}

/* Slider image */

.slider-image {
  width: 100%;
}

/* News on home page */

.tac {
  text-align: center;
}
.news-image {
  width: 100%;
  height: 222px;
}
.news {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 22px;
}

.single-news {
  background-color: #f4f4f4;
  padding-bottom: 22px;
  position: relative;
}

.news-text {
  padding: 12px;
  display: grid;
}

.textoverflow {
  height: 150px;
  overflow: hidden;
  position: relative;
}

.textoverflow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(242,242,242,1) 7%, rgba(242,242,242,0) 45%);
}

.read-more {
  color: #ffffff;
  background-color: #000000;
  width: 93%;
  height: 28px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  border: none;
  cursor: pointer;
}

.read-more:hover {
  background-color: #395f98;

}

.read-more:hover::after {
  content: '';
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  position: absolute;
  right: 15px;
  top: 8px;
}

.main-div {
  position: relative;
}

@media all and (max-width: 1000px) {
  .news {
    grid-template-columns: auto auto;
  }
}

@media all and (max-width: 425px) {
  .news {
    grid-template-columns: auto;
  }
}

/* News archive link */

.news-archive-link {
  width: 68%;
  height: 28px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  background-color: #395f98;
  border: none;
  color: #fff;
  cursor: pointer;
}


/* Footer */
footer {
  background-color: #121212;
  background-image: url(../src/images/slider.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-blend-mode: overlay;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 0;
}

/* social media logos */

.smlogos {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 22px;
  margin-bottom: 125px;
}

.smlogo {
  width: 75px;
  height: 75px;
}

.footerform {
  border: 1px solid #f2f2f2b4;
  max-width: 500px;
  margin: auto;
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 125px;
}

.indtast {
  background-color: #00000000;
  border: none;
  height: 22px;
}

.tilmeld {
  border: none;
  background-color: #cf404cc5;
  color: #fff;
}

.fontcursive {
  font-family: cursive;
  color: #d4b367;
  font-size: 35px;
}